In [ ]:
# Import the python library
import pandas as pd

In [ ]:
# Reading the csv file into a dataframe
data = pd.read_csv('YelloTaxiData.csv')

In [ ]:
# Viewing the first 100 rows
data.head(100)

,RateCodeID,RatecodeID,VendorID,dropoff_latitude,dropoff_longitude,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,pickup_latitude,pickup_longitude,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance
0,1.0,NaN,1,40.782337,-73.972160,0.0,5.0,0.3,0.5,1,2,40.789295,-73.966629,N,0.00,0.0,5.80,2015-01-09 12:58:40,2015-01-09 12:54:55,0.50
1,1.0,NaN,1,40.720490,-73.945465,0.5,12.5,0.3,0.5,1,1,40.723850,-73.992561,N,2.00,0.0,15.80,2015-01-13 23:19:17,2015-01-13 23:09:04,3.60
2,1.0,NaN,1,40.721367,-73.994781,0.0,14.5,0.3,0.5,2,2,40.749100,-73.991959,N,0.00,0.0,15.30,2015-01-25 17:37:55,2015-01-25 17:17:28,2.30
3,1.0,NaN,1,0.000000,0.000000,1.0,4.0,0.3,0.5,1,1,0.000000,0.000000,N,1.00,0.0,6.80,2015-01-22 19:00:38,2015-01-22 18:57:09,0.40
4,1.0,NaN,2,40.737110,-73.998177,0.0,4.5,0.3,0.5,1,1,40.733742,-73.990379,N,1.70,0.0,7.00,2015-01-17 18:16:01,2015-01-17 18:11:48,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.0,NaN,2,40.753021,-73.985489,0.0,12.5,0.3,0.5,1,1,40.770061,-73.961319,N,2.50,0.0,15.80,2015-01-07 13:07:48,2015-01-07 12:48:50,2.14
96,1.0,NaN,1,40.738331,-73.984406,0.0,9.0,0.0,0.5,2,2,40.765079,-73.974983,N,0.00,0.0,9.80,2015-01-03 12:03:42,2015-01-03 11:54:50,2.30
97,1.0,NaN,1,40.714813,-73.991684,0.5,9.0,0.3,0.5,1,1,40.706703,-74.012573,N,2.05,0.0,12.35,2015-01-10 03:35:19,2015-01-10 03:26:33,1.90
98,1.0,NaN,2,40.755112,-73.972198,1.0,6.0,0.3,0.5,5,2,40.752449,-73.974998,N,0.00,0.0,7.80,2015-01-21 18:03:25,2015-01-21 17:56:06,0.66
99,1.0,NaN,1,40.800392,-73.955452,0.0,21.5,0.0,0.5,1,1,40.729076,-73.984261,N,4.45,0.0,26.75,2015-01-04 19:14:49,2015-01-04 18:51:45,6.10

In [ ]:
# Assigning a variable to the top 100 rows
taxi_data = data.head(100)

In [ ]:
# Viewing the shape of the variable
taxi_data.shape

(100, 20)

In [ ]:
# Exporting the 100 rows to csv
taxi_data.to_csv('Taxi_data.csv')